MDSProject/apps/WSDL/Employee_Service.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsdLocal1="http://www.siebel.com/xml/ISG%20SF%20Employee%20IO" targetNamespace="http://siebel.com/CustomUI" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://siebel.com/webservices" xmlns:tns="http://siebel.com/CustomUI">
<types>
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsdLocal1="http://www.siebel.com/xml/ISG%20SF%20Employee%20IO" targetNamespace="http://www.siebel.com/xml/ISG%20SF%20Employee%20IO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:annotation>
<xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All
                           rights reserved. Siebel XSD Generation</xsd:documentation>
</xsd:annotation>
<xsd:element name="ListOfIsgSfEmployeeIo" type="xsdLocal1:ListOfIsgSfEmployeeIo"/>
<xsd:complexType name="ListOfIsgSfEmployeeIoTopElmt">
<xsd:sequence>
<xsd:element name="ListOfIsgSfEmployeeIo" maxOccurs="1" minOccurs="1" type="xsdLocal1:ListOfIsgSfEmployeeIo"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ListOfIsgSfEmployeeIo">
<xsd:sequence>
<xsd:element name="Employee" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:Employee"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Employee">
<xsd:sequence>
<xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="Alias" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="CellPhone" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="EMailAddr" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="EmployeeFlag" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="EmployeeTypeCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="EmploymentStatus" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="Fax" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="FirstName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="SFCreated" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="SFCreatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="SFId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="SFUpdated" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="SFUpdatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="JobTitle" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="LastName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="HRMId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="LoginName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="MF" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="ActiveFlag" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="BusinessUnit" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="CurrencyCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="Geo" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PartnershipContactFlag" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PrimaryDivisionAddressId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PrimaryDivisionCity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PrimaryDivisionCountry" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PrimaryDivisionPostalCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PrimaryDivisionState" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PrimaryDivisionStreetAddress" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PrimaryDivisionStreetAddress2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PrimaryDivisionStreetAddress3" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PrimaryPositionDivisionId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="SubRegion" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="SyncDescription" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="SyncStatus" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="ManagerId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="ManagerPositionId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="ManagerLogin" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="MiddleName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="NAIPrimaryPositionType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="Phone" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PositionCity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PositionCountry" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PositionPostalCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PositionState" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PositionStreetAddress" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PreferredCommunications" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PreferredLanguageCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PreferredLanguageId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PrimaryOrganizationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PrimaryPosition" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PrimaryPositionId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PrimaryResponsibilityId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="Status" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="SubcontractorId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="TerminationDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="TimeZoneId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="TimeZoneName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="WorkPhoneNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="ISGSFActiveFlag" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="ListOfEmployee_Position" maxOccurs="1" minOccurs="0" type="xsdLocal1:ListOfEmployee_Position"/>
<xsd:element name="ListOfEmployee_Responsibility" maxOccurs="1" minOccurs="0" type="xsdLocal1:ListOfEmployee_Responsibility"/>
<xsd:element name="ListOfEmployee_EmployeeOrganization" maxOccurs="1" minOccurs="0" type="xsdLocal1:ListOfEmployee_EmployeeOrganization"/>
<xsd:element name="ListOfEmployee_PersonalAddress" maxOccurs="1" minOccurs="0" type="xsdLocal1:ListOfEmployee_PersonalAddress"/>
<xsd:element name="ListOfEmployee_Subcontractor" maxOccurs="1" minOccurs="0" type="xsdLocal1:ListOfEmployee_Subcontractor"/>
</xsd:sequence>
<xsd:attribute name="Operation" type="xsd:string"/>
<xsd:attribute name="Searchspec" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="ListOfEmployee_Position">
<xsd:sequence>
<xsd:element name="Employee_Position" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:Employee_Position"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Employee_Position">
<xsd:sequence>
<xsd:element name="Division" maxOccurs="1" minOccurs="1" type="xsd:string"/>
<xsd:element name="DivisionId" maxOccurs="1" minOccurs="1" type="xsd:string"/>
<xsd:element name="Position" maxOccurs="1" minOccurs="1" type="xsd:string"/>
<xsd:element name="PositionId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="IsPrimaryMVG" type="xsd:string"/>
<xsd:attribute name="Operation" type="xsd:string"/>
<xsd:attribute name="Searchspec" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="ListOfEmployee_Responsibility">
<xsd:sequence>
<xsd:element name="Employee_Responsibility" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:Employee_Responsibility"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Employee_Responsibility">
<xsd:sequence>
<xsd:element name="Responsibility" maxOccurs="1" minOccurs="1" type="xsd:string"/>
<xsd:element name="ResponsibilityId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="IsPrimaryMVG" type="xsd:string"/>
<xsd:attribute name="Operation" type="xsd:string"/>
<xsd:attribute name="Searchspec" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="ListOfEmployee_EmployeeOrganization">
<xsd:sequence>
<xsd:element name="Employee_EmployeeOrganization" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:Employee_EmployeeOrganization"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Employee_EmployeeOrganization">
<xsd:sequence>
<xsd:element name="Searchspec2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="EmployeeOrganization" maxOccurs="1" minOccurs="1" type="xsd:string"/>
<xsd:element name="EmployeeOrganizationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="IsPrimaryMVG" type="xsd:string"/>
<xsd:attribute name="Operation" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="ListOfEmployee_PersonalAddress">
<xsd:sequence>
<xsd:element name="Employee_PersonalAddress" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:Employee_PersonalAddress"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Employee_PersonalAddress">
<xsd:sequence>
<xsd:element name="Searchspec2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PersonalAddressId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PersonalCity" maxOccurs="1" minOccurs="1" type="xsd:string"/>
<xsd:element name="PersonalCountry" maxOccurs="1" minOccurs="1" type="xsd:string"/>
<xsd:element name="PersonalPostalCode" maxOccurs="1" minOccurs="1" type="xsd:string"/>
<xsd:element name="PersonalState" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PersonalStreetAddress" maxOccurs="1" minOccurs="1" type="xsd:string"/>
<xsd:element name="PersonalStreetAddress2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="PersonalStreetAddress3" maxOccurs="1" minOccurs="0" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="IsPrimaryMVG" type="xsd:string"/>
<xsd:attribute name="Operation" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="ListOfEmployee_Subcontractor">
<xsd:sequence>
<xsd:element name="Employee_Subcontractor" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:Employee_Subcontractor"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Employee_Subcontractor">
<xsd:sequence>
<xsd:element name="Searchspec2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="SubcontractorAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="SubcontractorName" maxOccurs="1" minOccurs="1" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="IsPrimaryMVG" type="xsd:string"/>
<xsd:attribute name="Operation" type="xsd:string"/>
</xsd:complexType>
</xsd:schema>
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://www.siebel.com/xml/ISG%20SF%20Employee%20IO"/>
<xsd:element name="queryEmp_Input">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OutputIntObjectName" minOccurs="0" type="xsd:string"/>
<xsd:element name="NewQuery" minOccurs="0" type="xsd:string"/>
<xsd:element name="UTCCanonical" minOccurs="0" type="xsd:string"/>
<xsd:element name="PageSize" type="xsd:string"/>
<xsd:element name="SearchSpec" minOccurs="0" type="xsd:string"/>
<xsd:element name="SortSpec" minOccurs="0" type="xsd:string"/>
<xsd:element name="ViewMode" minOccurs="0" type="xsd:string"/>
<xsd:element name="StartRowNum" minOccurs="0" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="queryEmp_Output">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LastPage" minOccurs="0" type="xsd:string"/>
<xsd:element name="NumOutputObjects" minOccurs="0" type="xsd:string"/>
<xsd:element ref="xsdLocal1:ListOfIsgSfEmployeeIo" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="upsertEmp_Input">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UTCCanonical" minOccurs="0" type="xsd:string"/>
<xsd:element ref="xsdLocal1:ListOfIsgSfEmployeeIo" minOccurs="0"/>
<xsd:element name="StatusObject" minOccurs="0" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="upsertEmp_Output">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="PrimaryRowId" minOccurs="0" type="xsd:string"/>
<xsd:element ref="xsdLocal1:ListOfIsgSfEmployeeIo" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://siebel.com/webservices" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="UsernameToken" type="xsd:string"/>
<xsd:element name="PasswordText" type="xsd:string"/>
<xsd:element name="SessionType" type="xsd:string"/>
<xsd:element name="SessionToken" type="xsd:string"/>
</xsd:schema>
</types>
<message name="queryEmp_Input">
<part name="queryEmp_Input" element="tns:queryEmp_Input"/>
</message>
<message name="queryEmp_Output">
<part name="queryEmp_Output" element="tns:queryEmp_Output"/>
</message>
<message name="upsertEmp_Input">
<part name="upsertEmp_Input" element="tns:upsertEmp_Input"/>
</message>
<message name="upsertEmp_Output">
<part name="upsertEmp_Output" element="tns:upsertEmp_Output"/>
</message>
<message name="UsernameTokenHeader">
<part name="UsernameTokenHeader" element="tns1:UsernameToken"/>
</message>
<message name="PasswordTextHeader">
<part name="PasswordTextHeader" element="tns1:PasswordText"/>
</message>
<message name="SessionTypeHeader">
<part name="SessionTypeHeader" element="tns1:SessionType"/>
</message>
<message name="SessionTokenHeader">
<part name="SessionTokenHeader" element="tns1:SessionToken"/>
</message>
<portType name="SFEmpSync">
<operation name="queryEmp">
<input message="tns:queryEmp_Input"/>
<output message="tns:queryEmp_Output"/>
</operation>
<operation name="upsertEmp">
<input message="tns:upsertEmp_Input"/>
<output message="tns:upsertEmp_Output"/>
</operation>
</portType>
<binding name="SFEmpSync" type="tns:SFEmpSync">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="queryEmp">
<soap:operation soapAction="document/http://siebel.com/CustomUI:queryEmp"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="upsertEmp">
<soap:operation soapAction="document/http://siebel.com/CustomUI:upsertEmp"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ISG_SF_Employee_Service">
<port binding="tns:SFEmpSync" name="SFEmpSync">
<!--soap:address location="http://insightstgweb4.corp.nai.org/eai_sf_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;WSSOAP=1"/-->
</port>
</service>
</definitions>
