MDS/DEV/apps/XSD/common/ServiceEndpoints.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://SFEndpoint/url"
        xmlns:xsdLocal="http://SFEndpoint/url" elementFormDefault="qualified">
  <element name="ServiceDetails" type="xsdLocal:ServiceDetails"/>
  <complexType name="ServiceDetails">
    <sequence>
      <element name="username" type="string"/>
      <element name="password" type="string"/>
	   <element name="SBLEndpointURL" type="string"/>
    </sequence>
  </complexType>
</schema>