MDS/DEV/apps/SOA-INFRA/XSD/SyncOnOpportunitySFProvABCSBPELProcess.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/NewDevelopmentSiebelToSalesforce/SyncOnOpportunitySFProvABCSImpl/SyncOnOpportunitySFProvABCSBPELProcess" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="process">
      <complexType>
         <sequence>
            <element name="OPOrgId" type="string"/>
            <element name="EventId" type="string"/>
            <element name="Operation" type="string"/>
         </sequence>
      </complexType>
   </element>
   <element name="processResponse">
      <complexType>
         <sequence>
            <element name="ErrMsg" type="string"/>
            <element name="Status" type="string"/>
         </sequence>
      </complexType>
   </element>
</schema>
