MDSProject/apps/XSD/Opportunity/getSFToOPOptyLineItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        xmlns:ns1="http://www.siebel.com/xml/OptyEventsToProcessFromBroker"
        targetNamespace="http://IsecG/SalesforceIntegration/OpportunityFromSFtoSiebel/getSFToOPOptyLineItem"
        xmlns="http://www.w3.org/2001/XMLSchema">
 <import namespace="http://www.siebel.com/xml/OptyEventsToProcessFromBroker"
         schemaLocation="http://sfintegration-dev.corpzone.internalzone.com:80/soa-infra/services/default/ProcessOptyEventsFromBroker/xsd/OptyEventsFromEAIBrokerToProcess.xsd"/>
 <element name="process">
  <complexType>
   <sequence>
    <element name="CallerId" type="string"/>
    <element name="ObjectType" type="string"/>
    <element name="ObjectId" type="string"/>
    <element name="SourceType" type="string"/>
    <element name="RecordCountKey" type="string"/>
    <element name="ClientFMWInstanceId" type="string"/>
   </sequence>
  </complexType>
 </element>
 <element name="processResponse">
  <complexType>
   <sequence>
    <element name="EventsFromEAIBrokerToProcess" type="ns1:EventsToProcess"/>
    <element name="ErrMsg" type="string"/>
   </sequence>
  </complexType>
 </element>
</schema>