MDSProject/apps/SOA-INFRA/XSD/AssociateOpportunityPartnerSFProv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://xmlns.oracle.com/AccountIntegration/AssociateOpportunityPartnerSFProv/AssociateOpportunityPartnerSFProv"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:xsdLocal1="http://www.siebel.com/xml/ISG_SF_Opportunity_IO">
 <import namespace="http://www.siebel.com/xml/ISG_SF_Opportunity_IO"
         xmlns:xsdLocal1="http://www.siebel.com/xml/ISG_SF_Opportunity_IO"
         schemaLocation="oramds:/apps/XSD/Opportunity/SiebelMessage.xsd"/>
 
 <element name="processRequest">
 <complexType>
   <sequence>
 <element name="Operation" type="string"/> 
 <element name="SiebelMessage" type="xsdLocal1:SiebelMessage"/>
 </sequence>
 </complexType>
 </element>

 <element name="processResponse">
  <complexType>
   <sequence>
    <sequence>
     <element name="ErrMsg" type="string"/>
     <element name="Status" type="string"/>
     <element name="ReturnSFId" type="string"/>
    </sequence>
   </sequence>
  </complexType>
 </element>
</schema>