MDSProject/apps/SOA-INFRA/XSD/DeleteOptySiebelProvider.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/SBLToMDMAccountUpsertReceiverServiceApplication/OpportunityFromSFtoSiebel/DeleteOptySiebelProvider" xmlns="http://www.w3.org/2001/XMLSchema">
<element name="process">
<complexType>
<sequence>
<element name="EventId" type="string"/>
<element name="CallerId" type="string"/>
<element name="OptyId" type="string"/>
</sequence>
</complexType>
</element>
<element name="processResponse">
<complexType>
<sequence>
<element name="result" type="string"/>
</sequence>
</complexType>
</element>
</schema>
