MDSProject/apps/SOA-INFRA/XSD/InsertPartnerBookingInSF.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/OBUSF_PartnerBooking/PartnerBookingOBISFProcessor/InsertPartnerBookingInSF"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="FiscalYear" type="string"/>
                <element name="FiscalMonth" type="string"/>
                <element name="EventID" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>