MDS/DEV/apps/XSD/Opportunity/SiebelMessageEmployee.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/ISG%20SF%20Employee%20IO" xmlns:xsdLocal1="http://www.siebel.com/xml/ISG%20SF%20Employee%20IO" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema">
   <xsd:element name="SiebelMessage" type="xsdLocal1:SiebelMessage"/>
   <xsd:complexType name="SiebelMessage">
      <xsd:sequence>
         <xsd:element name="ListOfIsgSfEmployeeIo" type="xsdLocal1:ListOfIsgSfEmployeeIo"/>
      </xsd:sequence>
      <xsd:attribute type="string" name="MessageId"/>
      <xsd:attribute type="string" name="MessageType"/>
      <xsd:attribute type="string" name="IntObjectName"/>
      <xsd:attribute type="string" name="IntObjectFormat"/>
      <xsd:attribute type="string" name="ObjectType"/>
      <xsd:attribute type="string" name="Operation"/>
   </xsd:complexType>
   <xsd:element name="ListOfIsgSfEmployeeIo" type="xsdLocal1:ListOfIsgSfEmployeeIo"/>
   <xsd:complexType name="ListOfIsgSfEmployeeIoTopElmt">
      <xsd:sequence>
         <xsd:element name="ListOfIsgSfEmployeeIo" maxOccurs="1" minOccurs="1" type="xsdLocal1:ListOfIsgSfEmployeeIo"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfIsgSfEmployeeIo">
      <xsd:sequence>
         <xsd:element name="Employee" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:Employee"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Employee">
      <xsd:sequence>
         <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="Alias" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="CellPhone" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="EMailAddr" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="EmployeeFlag" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="EmployeeTypeCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="EmploymentStatus" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="Fax" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="FirstName" maxOccurs="1" minOccurs="1" type="xsd:string"/>
         <xsd:element name="SFCreated" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="SFCreatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="SFId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="SFUpdated" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="SFUpdatedBy" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="JobTitle" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="LastName" maxOccurs="1" minOccurs="1" type="xsd:string"/>
         <xsd:element name="HRMId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="LoginName" maxOccurs="1" minOccurs="1" type="xsd:string"/>
         <xsd:element name="MF" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="ActiveFlag" maxOccurs="1" minOccurs="1" type="xsd:string"/>
         <xsd:element name="BusinessUnit" maxOccurs="1" minOccurs="1" type="xsd:string"/>
         <xsd:element name="CurrencyCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="Geo" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="PartnershipContactFlag" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="PrimaryDivisionAddressId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="PrimaryDivisionCity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="PrimaryDivisionCountry" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="PrimaryDivisionPostalCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="PrimaryDivisionState" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="PrimaryDivisionStreetAddress" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="PrimaryDivisionStreetAddress2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="PrimaryDivisionStreetAddress3" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="PrimaryPositionDivisionId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="SubRegion" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="SyncDescription" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="SyncStatus" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="ManagerId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="ManagerPositionId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="ManagerLogin" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="MiddleName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="NAIPrimaryPositionType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="Phone" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="PositionCity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="PositionCountry" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="PositionPostalCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="PositionState" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="PositionStreetAddress" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="PreferredCommunications" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="PreferredLanguageCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="PreferredLanguageId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="PrimaryOrganizationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="PrimaryPosition" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="PrimaryPositionId" maxOccurs="1" minOccurs="1" type="xsd:string"/>
         <xsd:element name="PrimaryResponsibilityId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="Status" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="SubcontractorId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="TerminationDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="TimeZoneId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="TimeZoneName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="WorkPhoneNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="ListOfEmployee_Position" maxOccurs="1" minOccurs="0" type="xsdLocal1:ListOfEmployee_Position"/>
         <xsd:element name="ListOfEmployee_Responsibility" maxOccurs="1" minOccurs="0" type="xsdLocal1:ListOfEmployee_Responsibility"/>
         <xsd:element name="ListOfEmployee_EmployeeOrganization" maxOccurs="1" minOccurs="0" type="xsdLocal1:ListOfEmployee_EmployeeOrganization"/>
         <xsd:element name="ListOfEmployee_PersonalAddress" maxOccurs="1" minOccurs="0" type="xsdLocal1:ListOfEmployee_PersonalAddress"/>
         <xsd:element name="ListOfEmployee_Subcontractor" maxOccurs="1" minOccurs="0" type="xsdLocal1:ListOfEmployee_Subcontractor"/>
      </xsd:sequence>
      <xsd:attribute name="Operation" type="xsd:string"/>
      <xsd:attribute name="Searchspec" type="xsd:string"/>
   </xsd:complexType>
   <xsd:complexType name="ListOfEmployee_Position">
      <xsd:sequence>
         <xsd:element name="Employee_Position" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:Employee_Position"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Employee_Position">
      <xsd:sequence>
         <xsd:element name="Division" maxOccurs="1" minOccurs="1" type="xsd:string"/>
         <xsd:element name="DivisionId" maxOccurs="1" minOccurs="1" type="xsd:string"/>
         <xsd:element name="Position" maxOccurs="1" minOccurs="1" type="xsd:string"/>
         <xsd:element name="PositionId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      </xsd:sequence>
      <xsd:attribute name="IsPrimaryMVG" type="xsd:string"/>
      <xsd:attribute name="Operation" type="xsd:string"/>
      <xsd:attribute name="Searchspec" type="xsd:string"/>
   </xsd:complexType>
   <xsd:complexType name="ListOfEmployee_Responsibility">
      <xsd:sequence>
         <xsd:element name="Employee_Responsibility" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:Employee_Responsibility"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Employee_Responsibility">
      <xsd:sequence>
         <xsd:element name="Responsibility" maxOccurs="1" minOccurs="1" type="xsd:string"/>
         <xsd:element name="ResponsibilityId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      </xsd:sequence>
      <xsd:attribute name="IsPrimaryMVG" type="xsd:string"/>
      <xsd:attribute name="Operation" type="xsd:string"/>
      <xsd:attribute name="Searchspec" type="xsd:string"/>
   </xsd:complexType>
   <xsd:complexType name="ListOfEmployee_EmployeeOrganization">
      <xsd:sequence>
         <xsd:element name="Employee_EmployeeOrganization" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:Employee_EmployeeOrganization"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Employee_EmployeeOrganization">
      <xsd:sequence>
         <xsd:element name="Searchspec2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="EmployeeOrganization" maxOccurs="1" minOccurs="1" type="xsd:string"/>
         <xsd:element name="EmployeeOrganizationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      </xsd:sequence>
      <xsd:attribute name="IsPrimaryMVG" type="xsd:string"/>
      <xsd:attribute name="Operation" type="xsd:string"/>
   </xsd:complexType>
   <xsd:complexType name="ListOfEmployee_PersonalAddress">
      <xsd:sequence>
         <xsd:element name="Employee_PersonalAddress" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:Employee_PersonalAddress"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Employee_PersonalAddress">
      <xsd:sequence>
         <xsd:element name="PersonalAddressId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="PersonalCity" maxOccurs="1" minOccurs="1" type="xsd:string"/>
         <xsd:element name="PersonalCountry" maxOccurs="1" minOccurs="1" type="xsd:string"/>
         <xsd:element name="PersonalPostalCode" maxOccurs="1" minOccurs="1" type="xsd:string"/>
         <xsd:element name="PersonalState" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="PersonalStreetAddress" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfEmployee_Subcontractor">
      <xsd:sequence>
         <xsd:element name="Employee_Subcontractor" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:Employee_Subcontractor"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Employee_Subcontractor">
      <xsd:sequence>
         <xsd:element name="Searchspec2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="SubcontractorAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
         <xsd:element name="SubcontractorName" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      </xsd:sequence>
      <xsd:attribute name="IsPrimaryMVG" type="xsd:string"/>
      <xsd:attribute name="Operation" type="xsd:string"/>
   </xsd:complexType>
</xsd:schema>
