MDS/apps/SOA-INFRA/XSD/ContactWSEndPointSiebel.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://xmlns.oracle.com/ContactWSEndPointSiebel"
        xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="ContactWSEndPointSiebelProcessRequest">
      <complexType>
         <sequence>
            <element name="Operation" type="string"/>
            <element name="callerId" type="string"/>
            <element name="OrgId" type="string"/>
            <element name="ContactId" type="string"/>
            <element name="OwnerId" type="string"/>
         </sequence>
      </complexType>
   </element>
   <element name="ContactWSEndPointSiebelProcessResponse">
      <complexType>
         <sequence>
            <element name="Status" type="string"/>
            <element name="StatusDescription" type="string"/>
            <element name="ErrMsg" type="string"/>
            <element name="ContactExternalHostIntegrationId" type="string"/>
         </sequence>
      </complexType>
   </element>
</schema>
