MDS/apps/SOA-INFRA/XSD/InsertOpportunityBPELProcess.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/NewDevelopmentSiebelToSalesforce/InsertOpportunitySFProvABCSImpl/InsertOpportunityBPELProcess" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="process">
      <complexType>
         <sequence>
            <element name="input" type="string"/>
            <element name="queryString" type="string"/>
            <element name="OwnerId" type="string"/>
         </sequence>
      </complexType>
   </element>
   <element name="processResponse">
      <complexType>
         <sequence>
            <element name="ErrMsg" type="string"/>
            <element name="Status" type="string"/>
            <element name="ReturnSFId" type="string"/>
         </sequence>
      </complexType>
   </element>
</schema>
