MDS/apps/SOA-INFRA/XSD/UpdateProcessedEventsInEAIBroker.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://www.siebel.com/xml/UpdateProcessedEventsInEAIBroker"
        xmlns:xsdLocal="http://www.siebel.com/xml/UpdateProcessedEventsInEAIBroker"
        xmlns="http://www.w3.org/2001/XMLSchema"> 
 <element name="UpdateProcessedEventsInEAIBroker" type="xsdLocal:UpdateProcessedEventsInEAIBroker"/> 
 <complexType name="UpdateProcessedEventsInEAIBroker">
		<sequence>			
			<element name="ListOfEvent" type="xsdLocal:ListOfEvent"/>
		</sequence>		
	</complexType>
 <complexType name="ListOfEvent">
    <sequence>            
        <element name="Event" maxOccurs="unbounded" minOccurs="0" type="xsdLocal:Event"/>            
    </sequence>                
</complexType>
<complexType name="Event">
    <sequence>
        <element name="EventId" type="int" minOccurs="1" maxOccurs="1"/>
        <element name="StatusId" type="int" minOccurs="1" maxOccurs="1"/>                
        <element name="ErrorDescription" type="string" minOccurs="1" maxOccurs="1"/>                
        </sequence>	
</complexType>
</schema>
