MDS/apps/SOA-INFRA/XSD/UpsertQuoteSyncOn.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/QuoteIntegration/QuoteIntegrationFromBrokerToSF/UpsertQuoteSyncOn"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="processRequest">
		<complexType>
			<sequence>
				<element name="CallerId" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>