MDS/apps/SOA-INFRA/XSD/UpsertAccountSiebelProvABCSImpl.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/SF_OP_Account/UpsertAccountSiebelProvABCSImpl/UpsertAccountSiebelProvABCSImpl" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="process">
      <complexType>
         <sequence>
            <element name="eventId" type="string"/>
            <element name="ParentProcess" type="string"/>
         </sequence>
      </complexType>
   </element>
   <element name="processResponse">
      <complexType>
         <sequence>
            <element name="result" type="string"/>
         </sequence>
      </complexType>
   </element>
</schema>
