MDS/apps/SOA-INFRA/XSD/UserWSEndPointSiebel.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/UserWSEndPointSiebel" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="UserWSEndPointSiebelProcessRequest">
      <complexType>
         <sequence>
            <element name="input" type="string"/>
         </sequence>
      </complexType>
   </element>
   <element name="UserWSEndPointSiebelProcessResponse">
      <complexType>
         <sequence>
            <element name="result" type="string"/>
         </sequence>
      </complexType>
   </element>
</schema>
